body {
    background-color: #f4ca90;
}

h1 {
    font-size: 10em;
    color: #68563d;
    text-shadow: 2px 2px black;
}

h2 {
    color:#5b4b36;
}

.jumbotron {
height: 20em;
  background-image: url("../img/header.jpg");
  background-size: cover;
  border-radius: 0px;
  box-shadow: 0 4px 8px #af8448;
}

.jumbotron h2 {
    color: #e2f490;
    text-shadow: 2px 2px black;
}

button {
	background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
	background-color:#f9f9f9;
	border-radius:8px;
	display:inline-block;
	color:#666666;
	font-family:Impact;
	font-size:12px;
	padding:1px 7px;
}
button:hover {
	background:linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
	background-color:#e9e9e9;
}
button:active {
	position:relative;
	top:1px;
}

li {
    border: brown;
    background-color: rgba(222, 184, 135, 0.199);
    margin: 1px;
    padding: 1px 1px 3px 1px;
}

.eat-burgers li:nth-child(even) {
    background-color: rgb(201, 152, 89, 0.250);
}

.eaten-burgers li:nth-child(odd) {
    background-color: rgb(201, 152, 89, 0.250);
}

.row {
    padding: 10px;
}

.eat-burgers {
    margin-right: 8vw;
}

.add-burger {
    align-items: center;
    margin-left: 20vw;
}

.add-burger-header {
    padding-right: 10px;
}

.submit {
    padding: 1px 57px;
}

